:root {
  --primary: #cc313d;
  --secondary: #f7c5cc;
}

input {
  border: 1px solid var(--primary);
  display: block;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
}

input:focus {
  outline: none;
  border-color: var(--primary);
  border-width: 2px;
}
